* {
  font-family: Impact;
  font-size: 20px;;
}

body {
  background: rgb(50, 50, 50);
}

#dashboard{
  background-color: #4e4e4e;
  text-align: center;
}

#dashboard>div{
  margin-right: 3vw;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  vertical-align: bottom;
}

.dash-imgs{
  width: 15px;
  height: auto;
  display: inline-block;
}

.dash-txt{
  color:#ffffff;
  display: inline-block;
}

.tile{
  width: 40px;
    height: 40px;
    background-color: #ffffff;
}

.tile>img{
    margin-top: 3px;
    margin-left: 3px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  text-align: center;
}

.gridwrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#difficulty{
  border-radius: 5px;
  height: 30px;
  color:#242424;
}

.overlayin{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 20px;
}

#overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color:rgba(0, 0, 0, 0.7);
  text-align: center;
  color: white;
  visibility: hidden;
}

#overlay.active{
  visibility: visible;
}