html{
  font-size: 1.5rem;
  font-family: 'arial', sans-serif;
  color: #fff; 
  /* margin-left: auto;
  margin-right: auto; */
}

body {
  background-image: url("images/background2.jpg");
  background-size:cover;
  background-attachment:fixed;
}

.top-nav{
  width: 100%;
  height: 10vh;
  position: relative;
  background: #000;
}

.nav-list{
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  font-family: 'KeeponTruckin', sans-serif;
  font-weight: 200;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(90, 90, 90);
}