html{
  font-size: 1.5rem;
  font-family: 'arial', sans-serif;
  color: #fff; 
  /* margin-left: auto;
  margin-right: auto; */
}

img{
  max-width: 100%; 
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top-nav{
  width: 100%;
  height: 10vh;
  position: relative;
  background: #000;
}

.nav-list{
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  font-family: 'KeeponTruckin', sans-serif;
  font-weight: 200;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(90, 90, 90);
}

.landing-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.landing-text h1{
  font-size: 26px;
  font-family: 'KeeponTruckin', sans-serif;
  font-weight: 200;
  color: #000; 
  margin-top: 300px
}

.main-page-picture  {
  border-radius: 50%;
  width: 79rem;
  flex: 1;
}

#mppic {
  margin-top: 200px;
  border-radius:50%;
  width:225px;
}

.bootstrap  {
  text-align: center;
  font-size: 20px;
}

#boot {
  margin-top: 100px;
  width:225px;
}

#port {
  margin-top: 200px;
  width:225px;
}

table {
  border-collapse: collapse;
  width: 25%;
  margin-left: 37%;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.tab  {
  text-align: center;
  font-size: 20px;
}

ul.no-dot {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bootstrap li {
  font-size: 16px;
  float: none;
}

.column {
  float: left;
  width: 32%;
  padding: 7px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}